<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kThemeListLabel</key>
	<string>199,88,75</string>
	<key>kNavigationBarTitleLabel</key>
	<string>199,88,75</string>
</dict>
</plist>
