<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThemeChangeOC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CF22FD91CAD5C350000FA68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF22FF21CAD5C350000FA68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF22FFD1CAD5C350000FA68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
